 html, body {
    margin: 0;
  }

  .rubrik {

  }

  .container {
  	border-style: solid;
  	border-color: white white red white;

  	display: flex;
  	justify-content: center;
  	align-items: center;
  }